<style>
    div{
        text-align: center;
        padding-top:100px;
    }

    a{
        color: blue;
        text-decoration: none;
        font-weight: 700px;
    }
</style>
<%-include('header')-%> 
   <div>
    <h2>Welcome to dashboard </h2>
    <h3>You are logged in</h3>
    <a href="/logout">logout</a>
   </div>
<%-include('footer')-%> 