
<%-include('header')-%> 
<style>
    div{
        background: white;
        text-align: center;
        padding: 100px;
    }
</style>
<div>

    <h2>You are logged out successfully</h2>
    <a href="/">login again</a>
</div>

<%-include('footer')-%> 